body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

section {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    border: 1px solid #333;
    border-radius: 5px;
}

h1, h2 {
    color:#333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 1rem 0 0.5rem;
}

input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    margin-top: 1rem;
    padding: 0.7rem;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#output {
    margin-top: 1rem;
    padding: 1rem;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.tokens-container {
    max-height: 300px;
    overflow-y: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 1rem;
}